# Base de datos cloud (SDD §20, §32) — usada por los microservicios
DB_URL=jdbc:postgresql://<host>:5432/pedidos360
DB_USERNAME=pedidos360
DB_PASSWORD=<password>

# Validación de JWT en el BFF (SDD §32) — se usa al implementar el BFF
AZURE_TENANT_ID=3be234d1-0c64-484a-bc77-9478be48280f
AZURE_CLIENT_ID=28cc3d1b-1fa0-4909-b352-3f6bf2efec1b
AZURE_AUDIENCE=<audience>
